.VideoPlayer{
    height:100%;
    width:100%;
}
.VideoPlayer .video-react{
    max-height: 80vh;
    height:50%;
}

.chapters-list{
    margin-top:20px;
    height:20%;
    max-height:40vh;;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(270deg, rgba(0,0,0,0.25) 0%, rgba(95, 158, 160, 0) 5%);
    background-color: #5f9ea0;
    padding: 20px 0px;
    border-radius: 20px;

}
.chapter{
    max-height: 40px;
    height:100%;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;
    background-color: #95d7d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:20px;
}

.chapter:hover{
    background-color: #abffff;
    cursor: pointer;
}