.VideoPlayer{
    height:100%;
    width:100%;
}
.VideoPlayer .video-react{
    height:50%;
}

.chapters-list{
    margin-top:20px;
    height:20%;
    max-height:100px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: linear-gradient(270deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 5%);;
}
.chapter{
    border-radius: 10px;
    width: 100px;
    padding: 10px 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:20px;
}

.chapter:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}