* {
  padding:0;
  margin:0;
}
h1 {
  padding-top:20px;
  color:white;
}
.App {
  background-color: darkslategray;
  text-align: center;
  width:100vw;
  height:100vh;
}
body{
  height: 100%;
}
header{
  height:10%;
  width:100%;
}
main{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height:90%;
  width:100%;
}

#left{
  width:50%;
  height:100%;
}

#right{
  padding-left:2%;
  width:50%;
  height:100%;
  display: flex;
  flex-direction: column;
}